.table-striped>tbody>tr:nth-child(even)>td, 
			.table-striped>tbody>tr:nth-child(even)>th {
			   background-color: #e0ebeb; // Choose your own color here
			 }
			 .table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
  				background-color: #99c2ff;
			}
			thead th {
    			background-color: #1f2e2e;
    			color: #999999;

			}
			tr td:first-child,
			tr th:first-child {
    			border-top-left-radius: 6px;
    			border-bottom-left-radius: 6px;
			}
			tr td:last-child,
			tr th:last-child {
			    border-top-right-radius: 6px;
			    border-bottom-right-radius: 6px;
			}	
			td th{
				width:40px;
			}	
			tr td:nth-child(1){
   				 width:30%;
			}