<div class="col-md-6 col-md-offset-3" style="opacity:0.9;background-color:#ebebfa;">
    <h2>Edit Profile</h2>
	<div id="EditableFormCtrl">
	<form editable-form name="editableForm" onaftersave="vm.profile()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">First name</label>
			<div class="input-group">                  
                  <span editable-text="vm.user.firstName" style="color" e-name="name" e-required>{{ vm.user.firstName || 'empty' }}</span>
            </div>
		</div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Last name</label>
            <div class="input-group">                  
                  <span editable-text="vm.user.lastName" e-name="name" e-required>{{ vm.user.lastName || 'empty' }}</span>
            </div>
        </div>
		<div class="form-group" ng-class="{ 'has-error': form.emailId.$dirty && form.emailId.$error.required }">
            <label for="username">Email</label>
            <div class="input-group">
                  
                  <span editable-text="vm.user.emailId" e-name="name" e-required>{{ vm.user.emailId || 'empty' }}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <div class="input-group">
                  
                  <span editable-text="vm.user.userName" e-name="name" e-required>{{ vm.user.userName || 'empty' }}</span>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <div class="input-group">
                  
                  <span editable-text="vm.user.password" e-name="name" e-required>{{ vm.user.password || 'empty' }}</span>
            </div>
        </div>
       	
		<div class="buttons">
		  <!-- button to show form -->
		  <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
			Edit
		  </button>
		  <!-- buttons to submit / cancel form -->
		  <span ng-show="editableForm.$visible">
			<button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
			  Save
			</button>
			<button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
			  Cancel
			</button>
		  </span>
		</div> 
    </form>
</div>
